.page-item.active .page-link {
    color: white !important;
    background: #adb5bd !important;
    border-color: gray !important;
}

.pagination .page-link {
    // background: red;
    color: gray;
    &:hover {
      color: black;
    }
}