@import '../../styles/variables.scss';

.pagination {
    display: flex;
    justify-content: center;
    &_block {
        margin: 2px;
        padding: 5px;
        text-align: center;
        border: .5px solid gray;
        width: 30px;
        cursor: pointer;
        &_active {
            background-color: $gColor;
            color: #ffffff;
        }
        &:hover {
            background-color:lightgreen;
        }
    }
}