
.modal {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: rgba(94, 100, 76, .5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    &_title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    &_label {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 600;
    }
    &_input {
        width: 100%;
        padding: 14px 20px;
        margin: 15px 0;
        &_file {
            width: 100%;
            padding: 5px;
            margin: 10px 0;
        }
    }
    &_button {
        padding: 10px;
        margin-top: 10px;
        margin-left: 20px;
        cursor: pointer;
        &_full {
            padding: 10px;
            margin: 10px 0;
            width: 100%;
            cursor: pointer;
        }
    }
    &_link {
        color: blue;
        cursor: pointer;
    }
    &_error {
        color:red;
        font-size: 14px;
    }
    &_ok {
        color: rgb(47, 175, 47);
    }
    &_mark {
        background-color:rgb(236, 236, 106);
    }
    &_content {
        max-height: 90vh;
        padding: 20px;
        border-radius: 4px;
        background-color: white;
        overflow-y: auto;
    }
}

