.shoplistitem {
    position: relative;
    height: 250px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 3px;
    padding: 3px;
    overflow: hidden;
    transition: .1s;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    &_img {
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        &_block {
            position: relative;
            overflow: hidden;
            background-color: wheat;
            height: 80%;
        }
    }
    &_name {
        margin: 0 5px;
        font-size: 18px;
    }
    &_price {
        margin: 10px 5px;
        font-size: 14px;
        &_rub {
            font-family: arial;
            vertical-align: middle;
            border-bottom: 1px solid;
            line-height: 5px;
            display: inline-block;
            width: 0.4em;
        }
    }
    &_admin {
        &_buttonblock {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        &_button {
            outline: .5px solid white;
            color: white;
            border-radius: 3px;
            text-align: center;
            padding: 3px;
            width: 40px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
                background-color: red;
            }
        }
    }
}