.navbar {
    &_box_contur {
        position: relative;
        outline: .5px solid white;
        border-radius: 5px;
        height: 36px;
        width: 36px;
        margin-left: 10px;
        cursor: pointer;
    }
    &_logo {
        &_user {
            background: url('../../assets/images/user.svg') no-repeat;
            background-size: 80%;
            background-position: center;
        }
        &_admin {
            background: url('../../assets/images/admin.svg') no-repeat;
            background-size: 80%;
            background-position: center;
        }
        &_basket {
            background: url('../../assets/images/basket.svg') no-repeat;
            background-size: 80%;
            background-position: center;
        }
    }  
}

.basket_badge {
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    top:-8px;
    right: 2px;
    padding: 0 4px;
    background-color: rgb(254, 254, 254);
}